.table-wrapper {
  display: block;
  overflow-x: auto;
  border: 1px solid #4caf50;
  margin-top: 40px;
  table {
    border-collapse: collapse;
    min-width: 500px;
    display: inline-table;
    width: 100%;
    thead {
      background: #4caf50;
      color: white;
    }
    th,
    td {
      text-align: center;
      padding: 12px 0;
    }
  }

  tbody tr:nth-child(even) {
    background: #ecf0f1;
  }

  tbody tr:hover {
    background: #e4e9ec;
    color: #272525;
  }
}
.default-text {
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
}
