<div class="title">
  <p>
    Enter an ingredient list for what you are cooking, like "<span
      class="exapmle"
      >1 cup rice, 10 oz chickpeas</span
    >", etc.
  </p>
  <div class="alert-warning">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      fill="currentColor"
      class="bi bi-exclamation-circle"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
      />
      <path
        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
      />
    </svg>
    <p class="hint">
      Make sure you enter each ingredient on a new line to get the right
      analysis.
    </p>
  </div>
</div>
<div class="content">
  <form [formGroup]="analyzeForm">
    <textarea
      class="form-control"
      formControlName="ingredient"
      id="ingredient"
      name="ingredient"
      rows="20"
      placeholder="Food name, quantity, unit. &#13;Food name, quantity, unit.&#13;Food name, quantity, unit. &#13;Food name, quantity, unit.&#13;etc.."
    ></textarea>
    <button
      [ngClass]="{ disabled: !analyzeForm.value.ingredient }"
      [disabled]="!analyzeForm.value.ingredient"
      (click)="submit()"
    >
      Analyze
    </button>
  </form>
</div>
