.title {
  text-align: center;
  margin-top: 20px;
  span.exapmle {
    color: #7aca25;
    line-height: 24px;
  }
  .alert-warning {
    padding: 20px 0 1px 0;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    p.hint {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin-right: 12px;
        path {
          color: #ff5722;
        }
      }
    }
  }
}
.content {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 18px;
    display: block;
    &:focus {
      outline: #ddd !important;
    }
  }
  button {
    float: right;
    margin-top: 20px;
  }
  .disabled {
    cursor: not-allowed !important;
    background-color: #b8cf9f !important;
  }
}
