.title {
  text-align: center;
  margin-top: 20px;
  span.exapmle {
    color: #7aca25;
    line-height: 24px;
  }
  .alert-warning {
    padding: 6px 20px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    display: block;
    svg {
      margin-right: 0px;
      path {
        color: #ff5722;
      }
    }
    p.hint {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.content {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 18px;
    display: block;
    min-width: 285px;
    &:focus {
      outline: #ddd !important;
    }
  }
  button {
    float: right;
    margin-top: 20px;
  }
  .disabled {
    cursor: not-allowed !important;
    background-color: #b8cf9f !important;
  }
}

@media (min-width: 560px) {
  .alert-warning {
    display: flex !important;
    justify-content: center;
    svg {
      margin: 12px 12px 0 0 !important;
    }
  }
  textarea {
    width: 490px !important;
  }
}

@media (min-width: 300px)and(max-width: 559px) {
  textarea {
    min-width: 248px !important;
  }
}
